[Desktop Entry]
Categories=Qt;System;
Comment[de]=
Comment=
Exec=sudo installer > /tmp/installation.log 2>&1
GenericName[de]=Installation
GenericName=Installation
GenericName[ca]=Instal.lació
GenericName[es]=Instalación
GenericName[fr]=Installation
GenericName[gl]=Instalación
Icon=installer
MimeType=
Name[de]=Installation
Name=Installation
Name[ca]=Instal.lació
Name[es]=Instalación
Name[fr]=Installation
Name[gl]=Instalación
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
